# Getting and setting reaction parameters and reactions with Basico

In [1]:
import sys
sys.path.append('..')
%matplotlib inline

In [2]:
from basico import *

### Load model

In [3]:
biomod = load_model(r"C:\Users\LA\Documents\basico\basico\data\LM-test1.cps")

## Getting/setting global quantities

        It is possible to set:
            'initial_value'
            'initial_expression'
            'expression'
            'status'
            'type'

In [4]:
get_parameters()

,expression,initial_expression,initial_value,key,rate,type,unit,value
name,,,,,,,,
epsilon,,,0.78,ModelValue_0,0.0,fixed,,NaN
offset,,,0.10,ModelValue_1,0.0,fixed,,NaN
signal,"<CN=Root,Model=Kinetics of a Michaelian enzym...",,0.10,ModelValue_2,NaN,assignment,,NaN

In [5]:
set_parameters(name= 'offset', initial_value = 50)

In [6]:
get_parameters()

,expression,initial_expression,initial_value,key,rate,type,unit,value
name,,,,,,,,
epsilon,,,0.78,ModelValue_0,0.0,fixed,,NaN
offset,,,50.00,ModelValue_1,0.0,fixed,,NaN
signal,"<CN=Root,Model=Kinetics of a Michaelian enzym...",,0.10,ModelValue_2,NaN,assignment,,NaN

## Getting/setting species (metabolites)

In [7]:
get_species()

,compartment,concentration,expression,initial_concentration,initial_expression,initial_particle_number,key,particle_number,rate,type,unit
name,,,,,,,,,,,
E,compartment,NaN,,0.010000,,6.022142e+18,Metabolite_1,NaN,NaN,reactions,mmol/ml
S,compartment,NaN,,10.000001,,6.022142e+21,Metabolite_0,NaN,NaN,reactions,mmol/ml
ES,compartment,NaN,,0.000000,,0.000000e+00,Metabolite_2,NaN,NaN,reactions,mmol/ml
P,compartment,NaN,,0.000000,,0.000000e+00,Metabolite_3,NaN,NaN,reactions,mmol/ml

In [8]:
get_species(name = 'E')['initial_concentration']

name
E     0.01
ES    0.00
Name: initial_concentration, dtype: float64

#### Setting

        if 'name' in kwargs:
            metab.setObjectName(kwargs['name'])

        if 'unit' in kwargs:
            metab.setUnitExpression(kwargs['unit'])

        if 'initial_concentration' in kwargs:
            metab.setInitialConcentration(kwargs['initial_concentration']),

        if 'initial_particle_number' in kwargs:
            metab.setInitialValue(kwargs['initial_particle_number']),

        if 'initial_expression' in kwargs:
            metab.setInitialExpression(kwargs['initial_expression'])

        if 'expression' in kwargs:
            metab.setExpression(kwargs['expression'])

In [9]:
set_species(name = 'E', new_name = 'Lilija')

In [10]:
set_species(name = 'Lilija', initial_concentration = 123456)

In [11]:
get_species(name = 'Lilija')

,compartment,concentration,expression,initial_concentration,initial_expression,initial_particle_number,key,particle_number,rate,type,unit
name,,,,,,,,,,,
Lilija,compartment,NaN,,123456.0,,6.022142e+18,Metabolite_1,NaN,NaN,reactions,mmol/ml

In [12]:
# change it back
set_species(new_name = 'E', name = 'Lilija')

## Getting/setting reaction parameters

In [13]:
get_reactionParameters()

                  name  value
reaction name
R1             (R1).k1  130.0
R1             (R1).k2    1.0
R2             (R2).k1    1.0

        Setting only the following is possible:
        'new_name'
        'value'

In [14]:
set_reactionParameters(name = '(R1).k1', new_name = 'Ilse')

In [15]:
set_reactionParameters(name = '(R1).Ilse', value = 123)

In [16]:
get_reactionParameters()

                    name  value
reaction name
R1             (R1).Ilse  123.0
R1               (R1).k2    1.0
R2               (R2).k1    1.0

In [17]:
# change back parameters
set_reactionParameters(new_name = '(R1).k1', name = 'Ilse')

## Getting/setting reactions

In [18]:
get_reactions()

           scheme
name
R1     S + E = ES
R2    ES -> E + P

### Setting scheme

In [25]:
set_reaction(name = 'R1', scheme = 'S + E + F = ES')

In [26]:
get_reactions()

              scheme
name
R1    S + E + F = ES
R2       ES -> E + P

### Setting reaction name

In [27]:
set_reaction(name = 'R1', new_name = 'Reaction 1')

In [28]:
get_reactions()

                    scheme
name
Reaction 1  S + E + F = ES
R2             ES -> E + P