# Getting and setting reaction parameters and reactions with Basico

In [88]:
import sys
sys.path.append('..')
%matplotlib inline

In [89]:
from basico import *

### Load model

In [90]:
biomod = load_example("LM-test1")

In [91]:
## Getting/setting global quantities

        It is possible to set:
            'initial_value'
            'initial_expression'
            'expression'
            'status'
            'type'

In [92]:
get_parameters()

,expression,initial_expression,initial_value,key,rate,type,unit,value
name,,,,,,,,
epsilon,,,0.78,ModelValue_12,0.0,fixed,,NaN
offset,,,0.10,ModelValue_13,0.0,fixed,,NaN
signal,"<CN=Root,Model=Kinetics of a Michaelian enzym...",,0.10,ModelValue_14,NaN,assignment,,NaN

In [93]:
set_parameters(name= 'offset', initial_value = 50)

In [94]:
get_parameters()

,expression,initial_expression,initial_value,key,rate,type,unit,value
name,,,,,,,,
epsilon,,,0.78,ModelValue_12,0.0,fixed,,NaN
offset,,,50.00,ModelValue_13,0.0,fixed,,NaN
signal,"<CN=Root,Model=Kinetics of a Michaelian enzym...",,0.10,ModelValue_14,NaN,assignment,,NaN

## Getting/setting species (metabolites)

In [95]:
get_species()

,compartment,concentration,expression,initial_concentration,initial_expression,initial_particle_number,key,particle_number,particle_number_rate,rate,type,unit
name,,,,,,,,,,,,
E,compartment,NaN,,0.010000,,6.022142e+18,Metabolite_20,NaN,NaN,NaN,reactions,mmol/ml
S,compartment,NaN,,10.000001,,6.022142e+21,Metabolite_19,NaN,NaN,NaN,reactions,mmol/ml
ES,compartment,NaN,,0.000000,,0.000000e+00,Metabolite_21,NaN,NaN,NaN,reactions,mmol/ml
P,compartment,NaN,,0.000000,,0.000000e+00,Metabolite_22,NaN,NaN,NaN,reactions,mmol/ml

In [96]:
get_species(name = 'E')['initial_concentration']

name
E      0.010000
S     10.000001
ES     0.000000
P      0.000000
Name: initial_concentration, dtype: float64

#### Setting

        if 'name' in kwargs:
            metab.setObjectName(kwargs['name'])

        if 'unit' in kwargs:
            metab.setUnitExpression(kwargs['unit'])

        if 'initial_concentration' in kwargs:
            metab.setInitialConcentration(kwargs['initial_concentration']),

        if 'initial_particle_number' in kwargs:
            metab.setInitialValue(kwargs['initial_particle_number']),

        if 'initial_expression' in kwargs:
            metab.setInitialExpression(kwargs['initial_expression'])

        if 'expression' in kwargs:
            metab.setExpression(kwargs['expression'])

In [97]:
set_species(name = 'E', new_name = 'Lilija')

In [98]:
set_species(name = 'Lilija', initial_concentration = 123456)

In [99]:
get_species(name = 'Lilija')

,compartment,concentration,expression,initial_concentration,initial_expression,initial_particle_number,key,particle_number,particle_number_rate,rate,type,unit
name,,,,,,,,,,,,
Lilija,compartment,NaN,,123456.000000,,7.434694e+25,Metabolite_20,NaN,NaN,NaN,reactions,mmol/ml
S,compartment,NaN,,10.000001,,6.022142e+21,Metabolite_19,NaN,NaN,NaN,reactions,mmol/ml
ES,compartment,NaN,,0.000000,,0.000000e+00,Metabolite_21,NaN,NaN,NaN,reactions,mmol/ml
P,compartment,NaN,,0.000000,,0.000000e+00,Metabolite_22,NaN,NaN,NaN,reactions,mmol/ml

In [100]:
# change it back
set_species(new_name = 'E', name = 'Lilija')

## Getting/setting reaction parameters

In [101]:
get_reaction_parameters()

              mapped_to     name   type  value
reaction name
R1                       (R1).k1  local  130.0
R1                       (R1).k2  local    1.0
R2                       (R2).k1  local    1.0

        Setting only the following is possible:
        'new_name'
        'value'

In [102]:
set_reaction_parameters(name = '(R1).k1', value=123)

In [103]:
get_reaction_parameters()

              mapped_to     name   type  value
reaction name
R1                       (R1).k1  local  123.0
R1                       (R1).k2  local    1.0
R2                       (R2).k1  local    1.0

## Getting/setting reactions

In [104]:
get_reactions()

      flux  particle_flux       scheme
name
R1     NaN            NaN   S + E = ES
R2     NaN            NaN  ES -> E + P

### Setting scheme

In [105]:
set_reaction(name = 'R1', scheme = 'S + E + F = ES')

In [106]:
get_reactions()

      flux  particle_flux          scheme
name
R1     NaN            NaN  S + E + F = ES
R2     NaN            NaN     ES -> E + P

### Setting reaction name

In [107]:
set_reaction(name = 'R1', new_name = 'Reaction 1')

In [108]:
get_reactions()

            flux  particle_flux          scheme
name
Reaction 1   NaN            NaN  S + E + F = ES
R2           NaN            NaN     ES -> E + P