## Getting and setting reaction parameters and reactions

In [1]:
import sys
sys.path.append('../..')
%matplotlib inline

In [2]:
from basico import *

### Load model

In [3]:
biomod = load_example("LM-test1")

### Getting/setting global quantities

        It is possible to set:
            'initial_value'
            'initial_expression'
            'expression'
            'status'
            'type'

In [4]:
get_parameters()

,type,unit,initial_value,initial_expression,expression,value,rate,key
name,,,,,,,,
epsilon,fixed,,0.78,,,NaN,0.0,ModelValue_0
offset,fixed,,0.10,,,NaN,0.0,ModelValue_1
signal,assignment,,0.10,,[P] * Values[epsilon] + Values[offset],NaN,NaN,ModelValue_2

In [5]:
set_parameters(name= 'offset', initial_value = 50)

In [6]:
set_parameters('signal', expression='[P] * Values[epsilon] + Values[offset]')

In [7]:
get_parameters()

,type,unit,initial_value,initial_expression,expression,value,rate,key
name,,,,,,,,
epsilon,fixed,,0.78,,,NaN,0.0,ModelValue_0
offset,fixed,,50.00,,,NaN,0.0,ModelValue_1
signal,assignment,,50.00,,[P] * Values[epsilon] + Values[offset],NaN,NaN,ModelValue_2

### Getting/setting species (metabolites)

In [8]:
get_species()

,compartment,type,unit,initial_concentration,initial_particle_number,initial_expression,expression,concentration,particle_number,rate,particle_number_rate,key
name,,,,,,,,,,,,
E,compartment,reactions,mmol/ml,0.010000,6.022142e+18,,,NaN,NaN,NaN,NaN,Metabolite_1
S,compartment,reactions,mmol/ml,10.000001,6.022142e+21,,,NaN,NaN,NaN,NaN,Metabolite_0
ES,compartment,reactions,mmol/ml,0.000000,0.000000e+00,,,NaN,NaN,NaN,NaN,Metabolite_2
P,compartment,reactions,mmol/ml,0.000000,0.000000e+00,,,NaN,NaN,NaN,NaN,Metabolite_3

In [9]:
get_species(name = 'E')['initial_concentration']

name
E     0.01
ES    0.00
Name: initial_concentration, dtype: float64

#### Setting

        if 'name' in kwargs:
            metab.setObjectName(kwargs['name'])

        if 'unit' in kwargs:
            metab.setUnitExpression(kwargs['unit'])

        if 'initial_concentration' in kwargs:
            metab.setInitialConcentration(kwargs['initial_concentration']),

        if 'initial_particle_number' in kwargs:
            metab.setInitialValue(kwargs['initial_particle_number']),

        if 'initial_expression' in kwargs:
            metab.setInitialExpression(kwargs['initial_expression'])

        if 'expression' in kwargs:
            metab.setExpression(kwargs['expression'])

In [10]:
set_species(name = 'E', new_name = 'Lilija')

In [11]:
set_species(name = 'Lilija', initial_concentration = 123456)

In [12]:
get_species(name = 'Lilija')

,compartment,type,unit,initial_concentration,initial_particle_number,initial_expression,expression,concentration,particle_number,rate,particle_number_rate,key
name,,,,,,,,,,,,
Lilija,compartment,reactions,mmol/ml,123456.0,7.434694e+25,,,NaN,NaN,NaN,NaN,Metabolite_1

In [13]:
# change it back
set_species(new_name = 'E', name = 'Lilija')

### Getting/setting reaction parameters

In [14]:
get_reaction_parameters()

         value reaction   type mapped_to
name
(R1).k1  130.0       R1  local
(R1).k2    1.0       R1  local
(R2).k1    1.0       R2  local

        Setting only the following is possible:
        'new_name'
        'value'

In [15]:
set_reaction_parameters(name = '(R1).k1', value=123)

In [16]:
get_reaction_parameters()

         value reaction   type mapped_to
name
(R1).k1  123.0       R1  local
(R1).k2    1.0       R1  local
(R2).k1    1.0       R2  local

### Getting/setting reactions

In [17]:
get_reactions()

           scheme  flux  particle_flux                    function
name
R1     S + E = ES   NaN            NaN    Mass action (reversible)
R2    ES -> E + P   NaN            NaN  Mass action (irreversible)

### Setting scheme

In [18]:
set_reaction(name = 'R1', scheme = 'S + E + F = ES')

In [19]:
get_reactions()

              scheme  flux  particle_flux                    function
name
R1    S + E + F = ES   NaN            NaN    Mass action (reversible)
R2       ES -> E + P   NaN            NaN  Mass action (irreversible)

### Setting reaction name

In [20]:
set_reaction(name = 'R1', new_name = 'Reaction 1')

In [21]:
get_reactions()

                    scheme  flux  particle_flux                    function
name
Reaction 1  S + E + F = ES   NaN            NaN    Mass action (reversible)
R2             ES -> E + P   NaN            NaN  Mass action (irreversible)