## Using callbacks
When using basico, usually there is no feedback given when running tasks. That is fine when tasks dont take a long time, but for optimizations or parameter estimation runs, it would be nice to know how long things could go. Setting a callback also allows for interrupting a running task through interrupting by pressing `Ctrl+C`. Lets see how this works. We start as always by import basico. Additionally we also import the callbacks module (since i consider it an experimental module at the time of writing this, it is not done automatically):

In [1]:
from basico import *
from basico.callbacks import create_default_handler

For now i have wrapped the [tqdm](https://pypi.org/project/tqdm/) library, others could easily be added later on let me know if you have a preference! The `create_default_handler` function sets up a tdqm handler, that will be used for all longer running operations. It takes the following arguments: 

* `delay`: delay in seconds before showing the first message (defaults to `1`)
* `leave`: boolean flag, that indicates whether messages should remain on screen after being completed (defaults to `False`)
* `unit`: a string to display as unit for the iterations (by default tqdm will use it/s)

additional key value pairs will be passed on to tqdm. So let us just create a handler, and run some tasks:

In [2]:
create_default_handler()

we start with a simple example model that has parameter estimation set up on it already

In [3]:
load_example('LM');

it uses a local method and runs for 500 iterations, or until the tolerance of 1e-16 is reached:

In [4]:
get_task_settings(T.PARAMETER_ESTIMATION)['method']

{'Iteration Limit': 500,
 'Tolerance': 1e-16,
 'Stop after # Stalled Iterations': 0,
 '#LogVerbosity': 0,
 'name': 'Levenberg - Marquardt'}

In [5]:
run_parameter_estimation()

               lower upper        sol        affected
name
(R1).k2         1e-6   1e6   0.000002              []
(R2).k1         1e-6   1e6  44.661715              []
Values[offset]  -0.2   0.4   0.043018  [Experiment_1]
Values[offset]  -0.2   0.4   0.054167  [Experiment_3]
Values[offset]  -0.2   0.4  -0.050941    [Experiment]
Values[offset]  -0.2   0.4   0.045922  [Experiment_4]
Values[offset]  -0.2   0.4   0.048025  [Experiment_2]

lets choose just random search, which will take much longer, this will make the callbacks show up, and we will see the #function evaluations, as well as the best value reached. At any point we can interrup the execution of the cell (by presing the stop button on the notebook), this will cause the parameter estimation to stop after the next iteration, with partial results being returned:

In [6]:
run_parameter_estimation(method=PE.RANDOM_SEARCH)

Function Evaluations: 1441 [00:01, 1440.99/s]

Best Value: 23.26658392839781 [00:01, 1916.17/s]

               lower upper        sol        affected
name
(R1).k2         1e-6   1e6   0.000089              []
(R2).k1         1e-6   1e6  42.205855              []
Values[offset]  -0.2   0.4   0.003820  [Experiment_1]
Values[offset]  -0.2   0.4   0.193269  [Experiment_3]
Values[offset]  -0.2   0.4  -0.089387    [Experiment]
Values[offset]  -0.2   0.4   0.183581  [Experiment_4]
Values[offset]  -0.2   0.4   0.074128  [Experiment_2]

to remove the default handler again, the `reset_default_handler` function can be used.